{% extends 'base.html.twig' %}

{% block title %}Hello MedecinController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
		li {
			text-decoration: none;
		}
		.button{
			text-decoration: none;
			padding: 10px;
			background-color: blue;
			border-radius: 10px;
			color: white;
			border: none;
		}
		.button:hover{
			color:red;
		}
	</style>

	<div class="example-wrapper">
		<h1>Voici la liste des medecins ✅</h1>

		<table class="table">
			<tr>
				<td>Id</td>
				<td>Nom</td>
				<td>Description</td>
				<td>Ville</td>
				<td>Telephone</td>
				<td>Voir Medecin</td>
				<td>Nombre de rdv dans le mois</td>
			</tr>


			{% for medecin in medecins %}
				<tr>
					<td>{{medecin.id}}</td>
					<td>{{medecin.nom}}</td>
					<td>{{medecin.description}}</td>
					<td>{{medecin.ville}}</td>
					<td>{{medecin.telephone}}</td>
					<td>
						<a class="button" href="{{ path('medecin_view',{'id':medecin.id}) }}">voir la fiche</a>
					</td>
					<td>
					{% set nb = 0 %}
						{% for nbrdv in nbRdvs %}
							{% if nbrdv[0].medecin.id == medecin.id %}
							{% set nb = nbrdv.nbRdv %}
							{% endif %}
						{% endfor %}
						{{ nb }}
					</td>
				</tr>
			{% endfor %}
		</table>


	</div>
{% endblock %}
