{% extends 'base.html.twig' %}

{% block title %}Hello MedecinController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
		li {
			text-decoration: none;
		}
		.encadrer {
			border: thin solid blue;
			border-radius: 20px;
			padding: 20px;
			margin: 30px;
			display: flex;
			flex-direction: column;
		}
		.error {
			color: red;
			border-color: red;

		}
		input {
			border-radius: 10px;
			padding: 5px;
			width: 50%
		}
		button {
			padding: 10px;
			background-color: blue;
			border-radius: 10px;
			color: white;
			border: none;
			float: right;
		}
		button:after {
			content: " 🚽";
		}
		.error li {
			list-style: "❌ ";
		}
	</style>

	<div class="example-wrapper">
		{{ form_start(medecinForm) }}

		<div class="encadrer">
			{{ form_label(medecinForm.description) }}
			<span class="error">{{ form_errors(medecinForm.description) }}</span>
			{{ form_widget(medecinForm.description) }}
		</div>
		<div class="encadrer">
			{{ form_label(medecinForm.ville) }}
			<span class="error">{{ form_errors(medecinForm.ville) }}</span>
			{{ form_widget(medecinForm.ville) }}
		</div>
		<span class="ajout">{{ form_widget(medecinForm.Ajouter) }}</span>


		{{ form_end(medecinForm) }}
	</div>

{% endblock %}
